.cardlist-title{
  color: var(--gray);
  padding-top: 2rem;
}
.cardlist-conatiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.star-icon{
  color: var(--primary-color);
  font-size: 1.5rem;
}

.cardlist-star{
  position: relative;
  margin: auto;
  padding:.2rem;
  margin-top: 1rem;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background: var(--primary-light);
}

.cardlist-star:before {
    content: '';
    width: 2.2rem;
    border-bottom: solid 1px var(--primary-color);
    position: absolute;
    left: -2.5rem;
    top: 50%;
    z-index: 1;
}

.cardlist-star:after {
    content: '';
    width: 2.2rem;
    border-bottom: solid 1px var(--primary-color);
    position: absolute;
    right: -2.4rem;
    top: 50%;
    z-index: 1;
}

.cards{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  margin-left: 10rem;
}

@media (max-width: 1400px){
  .cards{
  margin-left: 7rem;
  }
}

@media (max-width: 1225px){
  .cards{
  margin-left: 9rem;
  }
}

@media (max-width: 1010px){
  .cards{
  margin-left: 6rem;
  }
}

@media (max-width: 810px){
  .cards{
  flex-direction: column;
  margin-left: 1rem;
  }
}